#about {
	height: 712px;
	background:#ffffff;
	h2 {
		text-align: center;		
		position: relative;
		top: 150px;
	}
	h4 {
		text-align: center;		
		position: relative;
		top: 175px;		
	}
	.about-content {
		width: 50%;
		position: relative;
		top:200px;
		margin: 0 auto;
		text-align: justify;
	}
}