#about {
	.centered {
		width: 60%;
	}
	height: 712px;
	background:#ffffff;
	font-family: 'Montserrat', Arial, sans-serif;
	h2 {
		text-align: center;		
		position: relative;
		top: 150px;
		font-size: 25px;
	}
	h4 {
		text-align: center;		
		position: relative;
		top: 175px;	
		font-size:16px;
		color:#444444;	
	}
	.about-content {
		width: 100%;
		position: relative;
		top:200px;
		margin: 0 auto;
		text-align: justify;
		color:#444444;
		font-size: 16px;
		p {
			margin-bottom: 10px;
			&.lead {
				color:#000000;
				font-weight: bold;
			}
		}

	}
}