@font-face {
	font-family: "Karla";
	src: url('../fonts/Karla-Regular') format('truetype');
}
@font-face {
	font-family: "Karla";
	font-weight: bold;
	src: url('../fonts/Karla-Bold') format('truetype');
}


@font-face {
	font-family: "Lora";
	src: url('../fonts/Lora-Regular') format('truetype');
}
@font-face {
	font-family: "Lora";
	font-weight: bold;
	src: url('../fonts/Lora-Bold') format('truetype');
}


@font-face {
	font-family: "OpenSans";
	src: url('../fonts/OpenSans-Regular') format('truetype');
}
@font-face {
	font-family: "OpenSans";
	font-weight: bold;
	src: url('../fonts/OpenSans-Bold') format('truetype');
}

@font-face {
	font-family: "Work Sans";
	src: url('../fonts/WorkSans-Regular') format('truetype');
}
@font-face {
	font-family: "Work Sans";
	font-weight: bold;
	src: url('../fonts/WorkSans-Bold') format('truetype');
}
@font-face {
	font-family: "Work Sans";
	font-weight: lighter;
	src: url('../fonts/WorkSans-Light') format('truetype');
}