@font-face {
	font-family: "Crimson";
	src: url('../fonts/crimson/Crimson-Roman.otf') format('truetype');
}
@font-face {
	font-family: "Karla";
	font-weight: bold;
	src: url('../fonts/Karla-Bold') format('truetype');
}


