header {
	position: relative;
	top: 45px;
	z-index: 2;
	font-family: 'Montserrat', Arial, sans-serif;
	.logo {
		float: left;
		margin-left: 20%;
		font-size:18px;
		color:#ffffff;
	}
	nav {
		float: right;
		font-size:14px;
		margin-right: 20%;
		a {
			margin-left: 30px;
			color: #fff;
			text-decoration: none;
			&:hover {
				color:#57d1c9;
			}
		}
	}
}