#skills {
    overflow: auto;
    .centered {
        overflow: auto;
        width: 1080px;
        margin-top: 144px;
        margin-bottom: 144px;
        .skill {
            width: 25%;
            float: left;
            text-align: justify;
            margin-right: 5%;
            margin-top: 20px;
            .skill-icon {
                display: block;
                text-indent: -10000px;
            }
            h4 {
                text-align: center;
                margin-bottom: 5px;                
            }
        }
    }
}