#stay-connected {
    .centered {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 750px;
        text-align: center;
        .sc-intro {
            h1 {
                font-size: 16px;
                padding-bottom: 20px;
            }
            p {
                margin-bottom: 90px;
            }

        }
        .contact-info {
            width: 30%;
            margin: 0 auto;
            padding-bottom: 50px;
            div {
                width: 110px;
                float: left;
            }
        }
        .form-wrapper { 
            #email-form {
                input[type="text"]{
                    border: 2px solid #cccccc;
                    border-radius: 5px;
                    height: 40px;
                    width: 356px;
                    float: left;
                }
                input::placeholder {
                    color: #cccccc;
                    padding-left: 12px;
                  }
                #email {
                    margin-left: 30px;
                   
                }
                #subject {
                    margin-top: 12px;
                    width: 100%;
                    clear:right;
                }  
                #message {
                    width: 100%;
                    margin-top: 12px;
                    height:198px;                  
                } 
                #message::placeholder {
                
                     
                }                 
                button{
                    margin-top: 10px;
                    float: left;
                    width: 186px;
                    height: 48px;
                    color:#57d1c9;
                    background: transparent;
                    border: 2px solid #57d1c9;
                    border-radius: 4px;
                    font-size: 14px;
                }                           
            }
        }
    }
}