#stay-connected {
    min-height: 50vh;
    background: #57d1c9;
    font-family: 'Montserrat', Arial, sans-serif;
    width: 100%;
	@include breakpoint(mobile) {
        min-height: 1px;
        position: absolute;
     }		
     fieldset {
         width: 100%;
     }    
    .centered {
        padding-top: 50px;
        width: 750px;
        text-align: center;
        @include breakpoint(mobile) {
            width: 100%;
            padding-top: 30px;
        }	        
        .sc-intro {
            h1 {
                font-size: 28px;
                font-weight: bold;
                padding-bottom: 20px;
            }
            p {
                font-size: 18px;
                margin-bottom: 10px;
            }

        }
        .contact-info {
            font-size: 22px;
            margin: 0 auto;
            padding-bottom: 50px;
            .email-link {
                color: #ffffff;
                padding-top: 20px;             
            }
        }

        .sc-icon-section {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            justify-content: space-around;
            .sc-icon {
               width: 256px;
               height: 256px;
               @include breakpoint(mobile) {
                width: 128px;
                height: 128px;
                }	               
               img {
                width: 100%;
                height: 100%;
               }
            }
        }       
        .form-wrapper { 
            @include breakpoint(mobile) {
                padding-bottom: 30px;
            }
            #email-form {
                input[type="text"]{
                    border: 2px solid #cccccc;
                    border-radius: 5px;
                    height: 40px;
                    width: 356px;
                    float: left;
                    @include breakpoint(mobile) {
                        width: 90%;
                        float: none;
                    }	                    
                }
                input::placeholder {
                    color: #cccccc;
                    padding-left: 12px;
                  }
                #email {
                    margin-left: 30px;
                    @include breakpoint(mobile) {
                        margin-left: 0px;
                        margin-top: 12px;
                    }	                   
                }
                #subject {
                    margin-top: 12px;
                    width: 100%;
                    clear:right;
                    @include breakpoint(mobile) {
                        width: 90%;
                        
                    }                    
                }  
                textarea {
                    font-family: 'Montserrat', Arial, sans-serif;
                    border: 2px solid #cccccc;
                    border-radius: 5px;        
                    width: 100%;
                    margin-top: 12px;
                    height:198px;     
                    @include breakpoint(mobile) {
                        width: 90%;
                      
                    }                                 
                } 
                textarea::placeholder {
                    color: #cccccc;
                    padding-left: 12px;    
                    font-family: 'Montserrat', Arial, sans-serif;           
                     
                }                 
                button{
                    margin-top: 10px;
                    width: 186px;
                    height: 48px;
                    color:#ffffff;
                    background: transparent;
                    border: 2px solid #ffffff;
                    border-radius: 4px;
                    font-size: 14px;
                }                           
            }
        }
    }
}