$mobile-break: 768px;
$tablet-break: 1024px;
$laptop-break: 1224px;
$large-break: 1824px;


@mixin breakpoint($point) {
   @if $point == tablet {
     @media (min-width: $mobile-break) and (max-width: $tablet-break) { @content ; }
  }
  @else if $point == mobile {
      @media (max-width: $mobile-break) { @content ; }

  }

}